In [41]:
#### Definition of a function

def minimum(first, second):
    if (first < second):
        return first
    else: 
        return second
   
num1 = 20

result = minimum(num1, 40)
print(result)

20

In [47]:
### Scope of the function

# Example of immutability

def scope_alfonso():
    name = "Alfonso"
    name2 = " Aaron"
    return name + name2
    
scope_alfonso()
name

NameError: name 'name' is not defined

In [49]:
# Example of mutable data

num = 20

def multiply_by10(n):
    n *= 10
    num = n 
    print("Value of num inside of the function", num)
    return n

multiply_by10(num)
print("Value of num outside of the function:", num)

Value of num inside of the function 200
Value of num outside of the function: 20

In [51]:
num_list = [10, 20, 30, 40]
print(num_list)

def multiply_by_10(my_list):
    my_list[0] *= 10
    my_list[1] *= 10
    my_list[2] *= 10
    my_list[3] *= 10
    
multiply_by_10(num_list)
print(num_list)

[10, 20, 30, 40]
[100, 200, 300, 400]

In [58]:
### Find in strings, these are functions that already exist in python
## a_string.find(substring, start, end)

alfonso_string = "Ny name is Alfonso Rojas-Alvarez and I live in Texas"
alfonso_string.find("abc", 15, 25)

-1

In [64]:
### Replace in strings

upper_string = alfonso_string.upper()
print(alfonso_string)
print(upper_string)

Ny name is Alfonso Rojas-Alvarez and I live in Texas
NY NAME IS ALFONSO ROJAS-ALVAREZ AND I LIVE IN TEXAS

In [73]:
a = int("12")
type(a)

int

In [76]:
name = input("Name ")
print("Hello", name)

Name  Alfonso

Hello Alfonso

In [91]:
### Two types of loops
# for loops
# while loops

for i in range(1, 20):  # A sequence from 1 to 10
    if i % 2 == 0:
        print(i, " is even")
    else:
        print(i, " is odd")

[1200000, 18000000, 669600000, 148148146800000]

In [93]:
### We can also do it with lists
        
list_of_numbers = [1, 15, 558, 123456789]
for i in range(0, len(list_of_numbers)):
    list_of_numbers[i] = list_of_numbers[i] * 1200000
    
print(list_of_numbers)

IndexError: list index out of range

In [98]:
n = 50
num_list = [10, 25, 4, 23, 6, 18, 27, 47, 46, 40, -30, 80]

for n1 in num_list:
    for n2 in num_list:
        if(n1 != n2):
            if(n1 + n2 == n):
                print(n1, n2)

10 40
4 46
23 27
27 23
46 4
40 10
-30 80
80 -30

In [3]:
for i in range(10,0,-1):
    print (i)

10
9
8
7
6
5
4
3
2
1

In [21]:
def count_evens(beg, end):
    count_num = 0
    for i in range(beg,end):
        if i % 2 == 0:
            count_num += 1
    return count_num
        
count_evens(1,987654321)

493827160

In [22]:
def count_evens2(beg, end):
   return round((end - beg)/2)

count_evens2(1,987654321)

493827160

In [24]:
a=5
b=10
c=a^b
b=a^b
a=a^b
print(a,c)

10 15

In [26]:
y = 5
z = lambda x : x * y
print(z(9))

45

In [28]:
my_string = 'Educative'
for i in range(my_string):
  print(i)

TypeError: 'str' object cannot be interpreted as an integer